In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab.ipynb")

# Lab 5 ‚Äì Imputation

## DSC 80, Spring 2022

### Due Date: Monday, May 2nd at 11:59 PM

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and Markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding will be done in an accompanying `lab.py` file that is imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying `lab.py` file will be tested (a la DSC 20),
2. The notebook may be graded (if it contains free response questions or asks you to draw plots).

**Do not change the function names in the `lab.py` file!**
- The functions in the `lab.py` file are how your assignment is graded, and they are graded by their name.
- If you changed something you weren't supposed to, just use git to revert! Ask us if you need help with this, or google around for `git revert`.

**Tips for working in the notebook**:
- The notebooks serve to present the questions and give you a place to present your results for later review.
- The notebooks in *lab assignments* are not graded (only the `lab.py` file is submitted and graded).
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `lab.py` file. You can write code here, but make sure that all of your real work is in the `lab.py` file.

**Tips for developing in the `lab.py` file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional helper functions to solve the lab! 
- Always document your code!

### Importing code from `lab.py`

* We import our `lab.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab` merely import the existing compiled python.

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
from lab import *

In [2]:
import os
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

import requests
import bs4

***Note:*** While working on the lab, check the Campuswire post titled "Lab 5 Released!" for any clarifications.

## Question 1 ‚Äì Payment Data üí∞

In `data/payment.csv`, you are given a dataset of payment information for purchases made on January 1st, 2019. The dataset contains the purchaser's `'Id'`, `'credit_card_type'`, `'credit_card_number'`, and `'date_of_birth'`.

Your job is to assess the missingness in the payments data. The question you need to answer is, **is `'credit_card_number'` missing at random dependent on the age of the shopper?**. Let's approach this question in two ways.

#### `first_round`

Look at distribution of ages by missingness of `'credit_card_number'` and determine if the missingness is dependent on age or not.

Use the following steps to approach this problem:

- Compute the ages of the purchasers.
- Draw the distribution of ages by missingness of `'credit_card_number'`. Specifically, you will draw two histograms or density curves:
    - One of ages where `'credit_card_number'` is missing.
    - One of ages where `'credit_card_number'` is not missing.
- Perform a permutation test for whether or not the two distributions mentioned above are drawn from the same population distribution. Use a 5% significance level. Use the **absolute difference of means** as your test statistic.

Write a function `first_round` with no arguments that returns a **list** with two values:
* The first value is the p-value from your permutation test. 
* The second value is either `'R'` if you reject the null hypothesis, or `'NR'` if you fail to reject the null.

**Does the result match your guess? If not, what might be a problem?**

***Hint:*** 
- Look at [Lecture 12](https://dsc80.com/resources/lectures/lec12/lec12.html#Assessing-missingness-through-data).
- To find a customer's age, compute the number of years between their birth year and 2022.

<br>

#### `second_round`

Run another permutation test for the empirical distribution of age conditional on `'credit_card_number'` with a 5% significance level. This time, use the **Kolmogorov-Smirnov statistic** as your test statistic.

Write a function `second_round` with no arguments that returns a __list__ with three values: 
* The first value is the p-value from your new permutation test.
* The second value is either `'R'` if you reject the null hypothesis, or `'NR'` if you fail to reject the null. 
* The third value is your final conclusion: `'D'` (the missingness of `'credit_card_number'` is dependent on age) or `'ND'` (the missingness of `'credit_card_number'` is not dependent on age).

***Hint:*** 
- In both [Lecture 12](https://dsc80.com/resources/lectures/lec12/lec12.html#Assessing-missingness-through-data) and [Lecture 13](https://dsc80.com/resources/lectures/lec13/lec13.html), we ran permutation tests using the Kolmogorov-Smirnov test statistic **without `for`-loops**. You can use this same procedure; we have already imported `stats` from `scipy`.

In [30]:
def extract_byear(date):
    if type(date) == float:
        return np.nan
    else:
        return int(date[7:])

In [45]:
# Run your permutation tests in the Jupyter Notebook;
# put your final results in lab.py
payments_fp = os.path.join('data', 'payment.csv')
payments = pd.read_csv(payments_fp)
payments.head()

   id     credit_card_type  credit_card_number date_of_birth
0   1  diners-club-enroute        2.018706e+14   25-Sep-1982
1   2      americanexpress        3.737511e+14   08-Jan-1946
2   3                  jcb        3.570296e+15           NaN
3   4           mastercard        5.318327e+15           NaN
4   5              maestro        6.759827e+17   20-Apr-1975

In [46]:
payments['date_of_birth'] = payments['date_of_birth'].apply(extract_byear)
#payments['date_of_birth'][3]
payments['Age'] = 2022 - payments['date_of_birth'] 
payments
payments['Credit_missing'] = payments['credit_card_number'].isna()
payments

,id,credit_card_type,credit_card_number,date_of_birth,Age,Credit_missing
0,1,diners-club-enroute,2.018706e+14,1982.0,40.0,False
1,2,americanexpress,3.737511e+14,1946.0,76.0,False
2,3,jcb,3.570296e+15,NaN,NaN,False
3,4,mastercard,5.318327e+15,NaN,NaN,False
4,5,maestro,6.759827e+17,1975.0,47.0,False
...,...,...,...,...,...,...
995,996,visa-electron,NaN,1987.0,35.0,True
996,997,jcb,3.570380e+15,1994.0,28.0,False
997,998,mastercard,5.010121e+15,1961.0,61.0,False
998,999,visa-electron,NaN,NaN,NaN,True
999,1000,jcb,3.549735e+15,2000.0,22.0,False

In [50]:
(1 + np.nan) / 2

nan

In [89]:
shuffled = payments.copy()
shuffled['Credit_missing'] = shuffled['credit_card_number'].isna()

n_repetitions = 100
means1 = []

for _ in range(n_repetitions):
    
    # Shuffling genders and assigning back to the DataFrame
    shuffled['Credit_missing'] = np.random.permutation(shuffled['Credit_missing'])
    
    test_stat1 = np.abs(np.nanmean(shuffled['Age'][shuffled['Credit_missing'].values].values) - np.nanmean(shuffled['Age'][~shuffled['Credit_missing'].values].values))
    
    means1.append(test_stat1)

In [54]:
means1

[1.2663537962769311,
 2.0325954376767967,
 0.9815734989648064,
 1.8890051075853052,
 0.41189427312774995,
 1.9062374622194866,
 3.6740659873847648,
 0.8865180970444158,
 0.6807564698075623,
 1.0388370289137896,
 0.1519512129884717,
 4.729736935655886,
 1.1102412828076567,
 0.3923273657288959,
 0.5991226079721628,
 0.059309309309306,
 0.12010839838894327,
 4.006260143751447,
 0.7337947205203861,
 0.7145451735064512,
 3.4760594814834036,
 2.8405370843989743,
 0.8437611091361532,
 4.141252552756974,
 0.6812212908416129,
 2.123711340206185,
 1.1840669378608126,
 1.7475292825768634,
 3.7942505191088216,
 2.518840579710144,
 0.8953258393210319,
 4.467076281010897,
 1.532884360213309,
 1.6415623772377828,
 4.7129795396419425,
 0.38686721656153367,
 1.648956817079089,
 0.3916253600809654,
 1.7054173005868236,
 0.4198364735158151,
 1.7444146431934229,
 2.992464641780657,
 0.6649616368286431,
 1.3033447662919642,
 0.2687292555713583,
 3.8584979108815816,
 1.3001712817584874,
 1.9418793139510555,
 0.43288869280875986,
 4.254048033036291,
 1.4653959609711862,
 2.1552010056971653,
 1.7636311732800465,
 0.5324578261797939,
 3.4364715403291086,
 0.026342710997447227,
 1.8562659846547334,
 1.6509096099447262,
 1.8811932003104417,
 2.721655460236498,
 1.124650177747526,
 1.591943734015345,
 1.3200290275761972,
 0.4703036920420516,
 2.7164834889717895,
 3.094868227838319,
 0.03868150552592908,
 0.9274526378598722,
 2.0251851851851868,
 2.018925831202047,
 1.5835185185185168,
 0.4071201219675302,
 2.561123265874393,
 2.238912101315755,
 2.4216323822163233,
 0.7440610484406136,
 4.342593076762178,
 1.1241595177370698,
 1.9638689234098479,
 4.062065340449621,
 3.465743648301455,
 2.7783309625414887,
 0.45829312884058737,
 1.2485921158487585,
 0.026192169011224564,
 1.2982583454281595,
 0.834627203622837,
 0.3468518518518522,
 0.9486803519061553,
 2.363242909034703,
 3.7776565220590044,
 4.425715188873085,
 2.2832480818414282,
 2.5170716112532006,
 3.129758418740849,
 1.9218424661012676,
 0.3803069053708441,
 3.26937340153453,
 3.528617134731604,
 0.4683865725458318]

In [93]:
from scipy.stats import ks_2samp

In [90]:
observed = np.abs(np.nanmean(payments['Age'][payments['credit_card_number'].isna().values].values) - np.nanmean(shuffled['Age'][~payments['credit_card_number'].isna().values].values))
observed

2.940722967870805

In [91]:
(means1 >= observed).mean()

0.13

In [134]:
payments

,id,credit_card_type,credit_card_number,date_of_birth,Age,Credit_missing
0,1,diners-club-enroute,2.018706e+14,1982.0,40.0,False
1,2,americanexpress,3.737511e+14,1946.0,76.0,False
2,3,jcb,3.570296e+15,NaN,NaN,False
3,4,mastercard,5.318327e+15,NaN,NaN,False
4,5,maestro,6.759827e+17,1975.0,47.0,False
...,...,...,...,...,...,...
995,996,visa-electron,NaN,1987.0,35.0,True
996,997,jcb,3.570380e+15,1994.0,28.0,False
997,998,mastercard,5.010121e+15,1961.0,61.0,False
998,999,visa-electron,NaN,NaN,NaN,True
999,1000,jcb,3.549735e+15,2000.0,22.0,False

In [113]:
obs = ks_2samp(
    payments.groupby('Credit_missing')['Age'].get_group(True),
    payments.groupby('Credit_missing')['Age'].get_group(False)
)
obs

KstestResult(statistic=0.12699202780883062, pvalue=0.0344518152440148)

In [117]:
n_repetitions = 500
shuffled = payments.copy()

ks_stats = []
for _ in range(n_repetitions):
    
    # Shuffling the data and assigning it back to the DataFrame
    shuffled['Credit_missing'] = np.random.permutation(shuffled['Credit_missing'])
    
    # Computing and storing the K-S statistic
    groups = shuffled.groupby('Credit_missing')['Age']
    ks_stat = ks_2samp(groups.get_group(True), groups.get_group(False)).statistic
    ks_stats.append(ks_stat)

In [111]:
obs.statistic

0.12699202780883062

In [118]:
np.mean(ks_stats >= obs.pvalue)

0.986

In [119]:
# don't change this cell, but do run it -- it is needed for the tests to work
first_pval, first_result = first_round()
second_pval, second_result, second_result1 = second_round()

In [120]:
grader.check("q1")

q1 results: All test cases passed!

## Question 2 ‚Äì Missing Heights üïµÔ∏è

In the file `data/missing_heights.csv` are the heights of children and their fathers (`'child'` and `'father'`). The `'child_X'` columns are missing values in varying proportions; for each X, `'child_X'` is X\% not missing (and hence (100-X)\% missing). The missingness of these `'child_X'` columns were created as MAR dependent on `'father'` height (similar to what was done in Lecture 12). The missingness of these `'child_X'` columns are all equally dependent on father height.

You will attempt to **verify** the missingness of the `'child_X'` columns as being dependent on the `'father'` height column by using permutation tests. Your permutation tests should use the Kolmogorov-Smirnov test statistic. You can use `scipy.stats`' built-in K-S function to run your permutation tests and compute your p-values; you don't need to simulate manually using a `for`-loop.

#### `verify_child`

Write a function `verify_child` that takes in the `heights` DataFrame and returns a Series of p-values from your permutation tests, indexed by the columns `'child_X'`.

***Notes:*** 

- Unlike in Question 1, your permutation tests should run within your `verify_child` function.
- You may loop over the **columns** of `heights`.

<br>

#### `missing_data_amounts`

Now, interpret your results. In the function `missing_data_amounts`, return a __list__ of correct statements from the options below:
1. The p-value for `'child_50'` is small because the *sampling distribution* of test statistics has low variance.
2. MAR is hardest to determine when there are very different proportions of missing and not-missing values.
3. The difference between p-values for `'child_5'` and `'child_95'` is due to randomness.
4. We should expect the p-value of `'child_X'` and `'child_(100-X)'` to be similar.
5. We should only expect the p-value of `'child_X'` and `'child_(100-X)'` to be similar if the columns are MCAR.

In [189]:
ser

child_95     4.155249e-80
child_90    1.514759e-130
child_75    3.043878e-227
child_50    5.276715e-280
child_25    3.043878e-227
child_10    1.514759e-130
child_5      4.155249e-80
dtype: float64

In [179]:
heights_fp = os.path.join('data', 'missing_heights.csv')
heights = pd.read_csv(heights_fp)
heights

,child,father,child_95,child_90,child_75,child_50,child_25,child_10,child_5
0,73.2,78.5,73.2,73.2,73.2,NaN,NaN,NaN,NaN
1,69.2,78.5,69.2,69.2,69.2,NaN,NaN,NaN,69.2
2,69.0,78.5,69.0,69.0,69.0,69.0,NaN,NaN,NaN
3,69.0,78.5,69.0,69.0,NaN,69.0,NaN,NaN,NaN
4,73.5,75.5,73.5,73.5,NaN,73.5,73.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
929,64.0,62.0,64.0,64.0,64.0,64.0,NaN,NaN,NaN
930,62.0,62.0,62.0,62.0,62.0,62.0,62.0,NaN,NaN
931,61.0,62.0,61.0,61.0,61.0,NaN,NaN,NaN,NaN
932,66.5,62.5,66.5,66.5,66.5,66.5,66.5,NaN,NaN
933,57.0,62.5,57.0,57.0,NaN,NaN,NaN,NaN,57.0

In [ ]:
gpA = heights.loc[data['group'] == 'A', 'data']
gpB = heights.loc[data['group'] == 'B', 'data']

In [180]:
indeces = heights.columns
#ser = pd.Series()
names = []
k_stats = []
for n in indeces:
    if n.find('child_') != -1:
        heights[n + ' missing'] = heights[n].isna()
        
        names.append(n)
        k_stats.append(ks_2samp(
        heights.groupby(n + ' missing')[n].get_group(True),
        heights.groupby(n + ' missing')[n].get_group(False)
        ).pvalue)
        
heights

ser = pd.Series(index = names, data = k_stats)
ser

child_95     4.155249e-80
child_90    1.514759e-130
child_75    3.043878e-227
child_50    5.276715e-280
child_25    3.043878e-227
child_10    1.514759e-130
child_5      4.155249e-80
dtype: float64

In [181]:
names = names[::-1]
k_stats = k_stats[::-1]

In [182]:
k_stats

[4.155248607980582e-80,
 1.5147594924454639e-130,
 3.0438784208535273e-227,
 5.276715361764929e-280,
 3.0438784208535273e-227,
 1.5147594924454639e-130,
 4.155248607980582e-80]

In [172]:
names

['child_5',
 'child_10',
 'child_25',
 'child_50',
 'child_75',
 'child_90',
 'child_95']

In [187]:
k_stats

[4.155248607980582e-80,
 1.5147594924454639e-130,
 3.0438784208535273e-227,
 5.276715361764929e-280,
 3.0438784208535273e-227,
 1.5147594924454639e-130,
 4.155248607980582e-80]

In [190]:
# don't change this cell, but do run it -- it is needed for the tests to work
heights_fp = os.path.join('data', 'missing_heights.csv')
heights = pd.read_csv(heights_fp)
out1_q2 = verify_child(heights.copy())
out2_q2 = missing_data_amounts()

In [178]:
out1_q2['child_50'] < out1_q2['child_95']

False

In [191]:
grader.check("q2")

q2 results: All test cases passed!

## Question 3 ‚Äì Imputing Heights üßçüìè

In [Lecture 13](https://dsc80.com/resources/lectures/lec13/lec13.html), you learned how to perform single-valued imputation conditionally on a **categorical** column: impute with the mean for each group. That is, for each distinct value of the **categorical** column, there is a single imputed value.

Here, you will perform single-valued imputation conditionally on a **quantitative** column. 

You will work with a version of the `heights` DataFrame, `new_heights`, that has a `'father'` column and a single `'child'` column. The `'child'` column has missing values. To impute the `'child'` column, transform the `'father'` column into a categorical column by binning the values of `'father'` into [quartiles](https://en.wikipedia.org/wiki/Quartile). Once this is done, you can impute `'child'` as in lecture (and described above).

<br>

#### `cond_single_imputation`

Write a function `cond_single_imputation` that takes in a DataFrame with columns `'father'` and `'child'` (where `'child'` has missing values) and performs a single-valued mean imputation of the `'child'` column, conditional on `'father'`. Your function should return a **Series**.

***Hints:*** 
- `pd.qcut` may be helpful!
- The `transform` is useful for this question (see [Lecture 7](https://dsc80.com/resources/lectures/lec07/lec07.html#The-transform-method)), though it's also possible using `aggregate`. 
- As a reminder, *loops are not allowed*, and functions mentioned in "Hints" are not required.

In [193]:
heights_fp = os.path.join('data', 'missing_heights.csv')
new_heights = pd.read_csv(heights_fp)[['father', 'child_50']]
new_heights

     father  child_50
0      78.5       NaN
1      78.5       NaN
2      78.5      69.0
3      78.5      69.0
4      75.5      73.5
..      ...       ...
929    62.0      64.0
930    62.0      62.0
931    62.0       NaN
932    62.5      66.5
933    62.5       NaN

[934 rows x 2 columns]

In [225]:
pd.qcut(new_heights['father'],4)

0        (71.0, 78.5]
1        (71.0, 78.5]
2        (71.0, 78.5]
3        (71.0, 78.5]
4        (71.0, 78.5]
            ...
929    (61.999, 68.0]
930    (61.999, 68.0]
931    (61.999, 68.0]
932    (61.999, 68.0]
933    (61.999, 68.0]
Name: father, Length: 934, dtype: category
Categories (4, interval[float64, right]): [(61.999, 68.0] < (68.0, 69.0] < (69.0, 71.0] < (71.0, 78.5]]

In [206]:
def mean_impute(ser):
    return ser.fillna(ser.mean())

In [ ]:
heights_mar_cat.groupby('gender')['child'].transform(mean_impute)

In [209]:
heights_fp = os.path.join('data', 'missing_heights.csv')
new_heights = pd.read_csv(heights_fp)[['father', 'child_50']]
new_heights = new_heights.rename(columns={'child_50': 'child'})

In [213]:
heights_fp = os.path.join('data', 'missing_heights.csv')
new_heights = pd.read_csv(heights_fp)[['father', 'child_50']]
new_heights = new_heights.rename(columns={'child_50': 'child'})
new_heights['cuts'] = pd.qcut(new_heights['father'],4)
new_heights

     father  child            cuts
0      78.5    NaN    (71.0, 78.5]
1      78.5    NaN    (71.0, 78.5]
2      78.5   69.0    (71.0, 78.5]
3      78.5   69.0    (71.0, 78.5]
4      75.5   73.5    (71.0, 78.5]
..      ...    ...             ...
929    62.0   64.0  (61.999, 68.0]
930    62.0   62.0  (61.999, 68.0]
931    62.0    NaN  (61.999, 68.0]
932    62.5   66.5  (61.999, 68.0]
933    62.5    NaN  (61.999, 68.0]

[934 rows x 3 columns]

In [214]:
new_heights.groupby('cuts')['child'].mean()

cuts
(61.999, 68.0]    65.481383
(68.0, 69.0]      66.933750
(69.0, 71.0]      67.434307
(71.0, 78.5]      68.083871
Name: child, dtype: float64

In [221]:
new_heights['cuts'] = pd.qcut(new_heights['father'],4)
ser = new_heights.groupby('cuts')['child'].transform(mean_impute)#[:50]
ser

0      68.083871
1      68.083871
2      69.000000
3      69.000000
4      73.500000
         ...
929    64.000000
930    62.000000
931    65.481383
932    66.500000
933    65.481383
Name: child, Length: 934, dtype: float64

In [201]:
np.quantile(new_heights['father'],0.25)

68.0

In [226]:
# don't change this cell, but do run it -- it is needed for the tests to work
heights_fp = os.path.join('data', 'missing_heights.csv')
new_heights = pd.read_csv(heights_fp)[['father', 'child_50']]
new_heights = new_heights.rename(columns={'child_50': 'child'})
out_q3 = cond_single_imputation(new_heights.copy())

In [227]:
grader.check("q3")

q3 results: All test cases passed!

## Question 4 ‚Äì Probabilistic Imputation üé≤

In [Lecture 13](https://dsc80.com/resources/lectures/lec13/lec13.html#Probabilistic-imputation), you learned how to impute a quantitative column by sampling from the observed values. **One problem with this technique is that the imputation will never generate imputed values that weren't already in the dataset.** For example, 57, 57.5, and 59 are values in the `'child'` column of `new_heights` while 58 is not. Thus, any imputation done by sampling from the observed values in the `'child'` column will not be able to generate a height of 58, even though it's clearly a reasonable value to occur in the dataset.

To keep things simple, you will impute the `'child'` column **unconditionally** from the distribution of `'child'` heights present in the dataset. This means that you will use the values present in `'child'` to impute missing values, without looking at other columns.

An approach to quantitative imputation that overcomes the limitation mentioned above is as follows:
- Create a histogram of observed `'child'` heights, using 10 bins.
- Use the histogram to generate a number within the observed range of `'child'` heights:
    - The likelihood a generated number belongs to a given bin is equal to the area of that bin. (Remember, in histograms, areas are proportions.)
    - Any number within a fixed bin is equally likely to occur.
    
Let's illustrate this approach with an example. Let `demo` be the array of 10 numbers defined below.

```py
demo = np.array([10, 11, 11, 13, 14, 14, 13.5, 14, 15, 16])
```

- The first step is creating a histogram of `demo`. Note that with this small dataset, we will use 3 bins, but you will be using 10 bins in your imputation process.

<img src='imgs/demo_histogram.png' width=300>

- Note that in your process, you don't actually need to draw a histogram ‚Äì instead, use `np.histogram`.
- In the histogram above, we see that $2 \cdot 0.15 = 0.3 = 30\%$ of values lie in the [10, 12) bin, $2 \cdot 0.1 = 0.2 = 20\%$ of values lie in the [12, 14) bin, and $2 \cdot 0.25 = 0.5 = 50\%$ of values lie in the [14, 16] bin.
- Next, we need to pick a bin at random. There's a 30\% chance we pick the [10, 12) bin, a 20\% chance we pick the [12, 14) bin, and a 50\% chance we pick the [14, 16] bin. `np.random.choice` will be helpful in picking a bin at random.
- Once we pick a bin, we pick a number **uniformly at random** from within the bin. For instance, suppose we randomly chose the [14, 16] bin in the previous step. We then must select a (real) number between 14 and 16 uniformly at random. `np.random.uniform` can help you here.

<br>

#### `quantitative_distribution`
    
Create a function `quantitative_distribution` that takes in a Series, `child`, in which some values are missing, and an integer `N > 0`, and returns an **array** of `N` imputed values using the method described above. 

***Note:*** You may use a `for`-loop.

<br>

#### `impute_height_quant`

Create a function `impute_height_quant` that takes in a Series, `child`, in which some values are missing and imputes them using the scheme above. `impute_height_quant` should return a Series that is the same length of `child` but with no missing values. **You should use `quantitative_distribution` to help you do this.**

In [311]:
hist

array([  3,  15,  54, 110,  81,  85,  99,  16,   3,   1])

In [310]:
p=hist/hist.sum()
p

array([0.00642398, 0.03211991, 0.11563169, 0.23554604, 0.17344754,
       0.18201285, 0.21199143, 0.03426124, 0.00642398, 0.00214133])

In [239]:
heights

,child,father,child_95,child_90,child_75,child_50,child_25,child_10,child_5
0,73.2,78.5,73.2,73.2,73.2,NaN,NaN,NaN,NaN
1,69.2,78.5,69.2,69.2,69.2,NaN,NaN,NaN,69.2
2,69.0,78.5,69.0,69.0,69.0,69.0,NaN,NaN,NaN
3,69.0,78.5,69.0,69.0,NaN,69.0,NaN,NaN,NaN
4,73.5,75.5,73.5,73.5,NaN,73.5,73.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
929,64.0,62.0,64.0,64.0,64.0,64.0,NaN,NaN,NaN
930,62.0,62.0,62.0,62.0,62.0,62.0,62.0,NaN,NaN
931,61.0,62.0,61.0,61.0,61.0,NaN,NaN,NaN,NaN
932,66.5,62.5,66.5,66.5,66.5,66.5,66.5,NaN,NaN
933,57.0,62.5,57.0,57.0,NaN,NaN,NaN,NaN,57.0

In [250]:
heights['child_50']

0       NaN
1       NaN
2      69.0
3      69.0
4      73.5
       ...
929    64.0
930    62.0
931     NaN
932    66.5
933     NaN
Name: child_50, Length: 934, dtype: float64

In [308]:
demo = heights['child_50'].dropna()
probs = []
N =100
for n in np.arange(N):
    hist, edges = np.histogram(demo, bins=10)
    #hist
    #edges
    index = np.random.choice(a=[0,1,2,3,4,5,6,7,8,9], p=hist/hist.sum())
    probs.append(np.random.uniform(edges[index], edges[index+1]))
    
probs

[70.07826639529797,
 62.980739256833886,
 67.18444565070082,
 64.90741754626394,
 70.85537474122388,
 62.25411479558417,
 70.56071617579961,
 70.79827210493248,
 61.686829841839916,
 68.88061900816562,
 71.88384321670105,
 66.35515388782699,
 73.740640859066,
 67.42106216244505,
 66.68848818610644,
 69.27770142025678,
 71.17838103434266,
 66.99199963264772,
 61.49620146293728,
 68.42375037689274,
 61.82790539050011,
 63.74266161999201,
 69.44529520867486,
 77.23541650029756,
 71.40392850157997,
 60.73796198142112,
 68.65740832424083,
 64.18133439697633,
 67.736989433088,
 66.1828379860519,
 71.20014245163034,
 66.2026233424181,
 61.95437179620629,
 71.15159562179684,
 71.91662641683975,
 58.514351039771284,
 69.48284801262508,
 64.04705901955364,
 70.45837684440696,
 70.72314862180257,
 65.86576585288468,
 70.43603152301836,
 59.706642453165166,
 73.72898500567732,
 65.00214319043162,
 64.20593010204112,
 69.49807571023018,
 68.77810564383785,
 61.51696520009036,
 66.39345634549333,
 71.80971359106681,
 71.64013443697104,
 65.71843303912148,
 65.04623039612466,
 62.84367258669701,
 64.84228211214976,
 59.16003575611312,
 68.44744317510514,
 67.24551872832669,
 61.52768852745156,
 66.32719234694028,
 69.27341325836171,
 65.03169973139407,
 72.20936375448332,
 62.96963162712941,
 72.0714425848405,
 60.93272287736392,
 69.99237367934845,
 68.92110569373857,
 64.50468970430666,
 77.74701711662611,
 69.95909975296925,
 74.00034341682463,
 71.18054172931484,
 59.26168784032948,
 65.54161548772775,
 66.86472886320976,
 66.21288585939361,
 62.052972255941576,
 64.09425871278687,
 70.2535741308882,
 62.994988239332535,
 61.55319081157553,
 65.5045770129186,
 70.16855453170163,
 68.58958664914483,
 69.9909162286038,
 64.37666864179657,
 71.46714430685252,
 71.91769377306184,
 68.004375065201,
 69.29033169694283,
 63.776635854639366,
 62.2769397354886,
 61.53448786706774,
 63.17278934122366,
 65.37738014949856,
 70.9320376735301,
 70.44563354978463,
 71.55970361138421]

In [260]:
hist/hist.sum()

array([0.00642398, 0.03211991, 0.11563169, 0.23554604, 0.17344754,
       0.18201285, 0.21199143, 0.03426124, 0.00642398, 0.00214133])

In [321]:
out = quantitative_distribution(heights['child_50'],100)
np.isclose(out.std(), 3.5, atol=0.65)

True

In [362]:
heights['child_50']

0       NaN
1       NaN
2      69.0
3      69.0
4      73.5
       ...
929    64.0
930    62.0
931     NaN
932    66.5
933     NaN
Name: child_50, Length: 934, dtype: float64

In [370]:
ser = heights['child_50']
missing = heights['child_50'].isna().sum()
missing
out = quantitative_distribution(heights['child_50'],missing)
out

array([68.94810864, 69.87437343, 70.15140315, 70.22255209, 70.27412561,
       65.80525835, 63.50214171, 71.53575737, 71.75136091, 64.62275085,
       66.15914137, 63.66134586, 71.87243996, 64.27831216, 67.71174897,
       68.5692397 , 69.55388693, 64.06712093, 66.3753672 , 60.73606001,
       65.685719  , 62.96210567, 66.5088366 , 70.12238731, 67.49363938,
       78.8839469 , 67.45530833, 64.06918367, 60.93471734, 63.23698229,
       71.52205961, 70.41079117, 70.98846298, 66.40570101, 67.5121258 ,
       62.22043502, 68.55355951, 68.25394908, 65.78962919, 64.29333822,
       71.1954316 , 65.12763339, 66.53744068, 66.08129467, 69.46257377,
       63.10815267, 64.55782396, 71.62890716, 66.43329319, 64.6485864 ,
       66.41404115, 75.75658152, 63.07022508, 71.05544104, 69.76947417,
       71.96322857, 70.15630264, 71.52149126, 63.27158822, 63.0894732 ,
       67.66853014, 63.49858972, 69.23818034, 67.61584483, 61.33239116,
       63.24083218, 63.92913872, 63.52940326, 70.6799695 , 68.11482072,
       67.15587559, 68.88579465, 71.74044013, 61.36441064, 64.93249384,
       70.96994666, 64.24748687, 72.08922184, 73.05483611, 63.43948659,
       67.80588445, 66.84729545, 68.40472639, 65.96318126, 68.38281584,
       67.80197665, 62.82092922, 68.178019  , 67.07881352, 63.71970328,
       63.30361944, 68.10131018, 64.76250093, 65.63379032, 63.19771146,
       64.99426537, 67.29218436, 71.21969859, 58.3923123 , 62.65891529,
       65.4019808 , 64.88445405, 71.0927302 , 61.31997863, 59.60978853,
       68.00695764, 63.7651995 , 73.20795053, 67.49755144, 61.58459596,
       67.6056365 , 63.11570641, 62.36554072, 68.81417004, 67.71629576,
       70.34267944, 67.51210677, 68.93631196, 65.28055779, 69.66448834,
       70.0904128 , 70.28616578, 71.61474627, 70.99508273, 71.48672087,
       62.08776751, 66.96172714, 68.10342218, 64.69572962, 75.71961706,
       70.66931142, 68.81107333, 63.96227961, 64.2836271 , 57.37117293,
       72.42188594, 68.09544698, 70.05936962, 66.93209681, 65.18904881,
       71.28144826, 63.22123513, 59.83195167, 69.04656861, 71.41235577,
       65.79872759, 68.47820961, 71.01710472, 68.77130817, 68.16511989,
       71.40474024, 66.75512311, 69.16053562, 72.04987289, 76.25828789,
       58.61485136, 64.7008442 , 65.71084899, 64.75431326, 69.16670926,
       71.39024161, 63.85299119, 70.79631872, 59.25343519, 66.57720365,
       66.27260476, 62.4311468 , 71.48477742, 69.27484494, 63.42894677,
       63.72437433, 70.9721007 , 67.0892809 , 67.86262161, 62.15435402,
       68.33711255, 61.36858954, 68.4967941 , 61.9921053 , 68.62541649,
       66.22165521, 71.57765718, 65.0906113 , 69.19569825, 63.21493507,
       71.96886487, 61.9348699 , 71.32913656, 61.09993185, 68.00358002,
       69.99225162, 69.43817746, 58.32369839, 59.19675847, 67.6200723 ,
       63.95127345, 69.39484724, 72.07760956, 63.47275026, 68.51932954,
       73.57832343, 66.88513197, 66.35149793, 69.05212416, 61.97598778,
       69.34350592, 70.36604558, 64.73045886, 69.74824667, 62.42984767,
       67.676152  , 64.91882741, 58.77860316, 61.57516146, 69.15581696,
       64.34372789, 66.10047906, 69.87667932, 70.59554618, 71.33636671,
       69.9074932 , 60.82851893, 70.36438855, 70.8564714 , 64.00210917,
       62.69357973, 61.93746979, 65.01461066, 70.80370895, 58.84140439,
       75.13771312, 62.45848586, 66.02059015, 71.14905902, 63.96100947,
       71.34215476, 68.51962175, 64.40311221, 65.2910819 , 66.09339961,
       68.52010182, 71.26750538, 67.31721383, 62.2893615 , 68.20910032,
       71.60139475, 66.2001083 , 67.1625177 , 66.22154058, 68.81111527,
       71.99592943, 71.92162192, 65.60159008, 69.22318539, 64.35538782,
       65.91187716, 61.48351136, 59.39983509, 63.20726601, 66.23692733,
       66.12800741, 69.883255  , 65.42535573, 70.19831127, 66.44462224,
       64.98878541, 65.16524175, 71.44488094, 64.52848705, 63.82992188,
       68.05518343, 61.44107147, 70.22533163, 68.72102007, 68.80120959,
       68.7996589 , 66.89435531, 67.89456848, 67.45711839, 70.97562149,
       72.07842277, 66.32864555, 71.63467573, 67.03588184, 62.29640992,
       58.47629635, 69.77573715, 61.7266636 , 73.75058434, 70.24382187,
       69.38916673, 62.49692692, 65.61163616, 63.0232081 , 72.07801075,
       70.80651359, 68.4929765 , 64.66198617, 69.85427088, 73.33298048,
       63.62252726, 68.63018329, 66.73884892, 66.86932807, 76.33227155,
       67.78002788, 61.09417955, 69.04612651, 69.29175789, 63.27732071,
       70.3277458 , 66.04085742, 70.27859214, 72.09224796, 71.73687456,
       67.28509752, 69.77862081, 63.42153892, 59.62280688, 66.77690796,
       68.54081743, 62.83550936, 71.94264358, 67.64018253, 66.03317834,
       66.4754575 , 61.1438983 , 68.76936207, 65.28882203, 71.0813368 ,
       72.03731886, 71.87766178, 61.00918012, 63.60127082, 70.26574243,
       68.58237434, 62.97882666, 71.89566892, 66.78241293, 61.67722358,
       74.99945247, 70.18235582, 73.51782914, 67.11879516, 63.83799317,
       71.66377   , 67.99902203, 71.29117961, 63.93059866, 66.66964894,
       64.26348617, 69.13705927, 60.45101421, 70.32288991, 63.2807987 ,
       63.38930371, 75.02408144, 64.71939235, 64.9822277 , 69.35717291,
       64.46312632, 69.56891281, 61.31517582, 76.32778264, 67.25667712,
       61.63943763, 65.73745317, 58.31401857, 65.08701865, 63.06524916,
       65.08009041, 65.73146182, 61.67551437, 65.96718241, 65.29052189,
       64.34601973, 64.08705299, 63.51486018, 66.45325408, 71.49293281,
       61.91468328, 69.57479229, 66.10960184, 70.94185427, 68.80710135,
       68.62031006, 63.31031224, 71.52562315, 66.29032506, 63.80212636,
       66.56667506, 61.21385411, 71.70436717, 65.318256  , 67.08356855,
       71.6585995 , 60.94221721, 70.32616748, 63.53122276, 61.74826013,
       66.93841504, 63.33587776, 70.92493607, 67.39766093, 70.83361097,
       68.8852357 , 67.29589893, 62.23395827, 72.02968886, 70.0620078 ,
       71.19720524, 73.18063811, 70.96587871, 68.20270767, 62.22369213,
       67.08874406, 70.43870176, 71.54748808, 66.19639286, 64.96985126,
       71.59969465, 71.65278994, 61.01716441, 72.23000664, 64.80440874,
       60.70657249, 67.05749401, 68.57683927, 70.20491017, 68.39961745,
       63.00626327, 72.87699536, 73.09315073, 69.18910596, 71.17540876,
       63.64761892, 68.84389516, 70.02728624, 64.0407072 , 70.21429628,
       57.38864264, 71.37818686, 67.26990156, 66.0165001 , 69.72945878,
       63.7693251 , 61.10381883, 56.32234464, 64.15434539, 59.70830692,
       73.2829219 , 71.62989478, 71.43837023, 69.72378944, 70.77034808,
       68.0916892 , 65.85645283, 63.47682902, 63.37509919, 64.79744777,
       66.15924199, 69.19023039, 70.50854084, 72.08712924, 71.14991566,
       63.34862875, 59.01616945])

In [371]:

ser.update(pd.Series(out, index = ser.index[ser.isna()]))
ser

0      68.948109
1      69.874373
2      69.000000
3      69.000000
4      73.500000
         ...
929    64.000000
930    62.000000
931    63.348629
932    66.500000
933    59.016169
Name: child_50, Length: 934, dtype: float64

In [359]:
ser.isna().sum()

0

In [369]:
heights_fp = os.path.join('data', 'missing_heights.csv')
heights = pd.read_csv(heights_fp)
heights

,child,father,child_95,child_90,child_75,child_50,child_25,child_10,child_5
0,73.2,78.5,73.2,73.2,73.2,NaN,NaN,NaN,NaN
1,69.2,78.5,69.2,69.2,69.2,NaN,NaN,NaN,69.2
2,69.0,78.5,69.0,69.0,69.0,69.0,NaN,NaN,NaN
3,69.0,78.5,69.0,69.0,NaN,69.0,NaN,NaN,NaN
4,73.5,75.5,73.5,73.5,NaN,73.5,73.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
929,64.0,62.0,64.0,64.0,64.0,64.0,NaN,NaN,NaN
930,62.0,62.0,62.0,62.0,62.0,62.0,62.0,NaN,NaN
931,61.0,62.0,61.0,61.0,61.0,NaN,NaN,NaN,NaN
932,66.5,62.5,66.5,66.5,66.5,66.5,66.5,NaN,NaN
933,57.0,62.5,57.0,57.0,NaN,NaN,NaN,NaN,57.0

In [329]:
heights[heights['child_50'].isna() == True].update(out)
heights['child_50']

0      73.026297
1      67.110077
2      69.507603
3      64.700070
4      64.059559
         ...
929    64.000000
930    62.000000
931          NaN
932    66.500000
933          NaN
Name: child_50, Length: 934, dtype: float64

In [339]:
heights[heights['child_50'].isna()]['child_50']

0     NaN
1     NaN
5     NaN
6     NaN
8     NaN
       ..
921   NaN
922   NaN
928   NaN
931   NaN
933   NaN
Name: child_50, Length: 467, dtype: float64

In [372]:
# don't change this cell, but do run it -- it is needed for the tests to work
heights_fp = os.path.join('data', 'missing_heights.csv')
heights = pd.read_csv(heights_fp)
child = heights['child_50']
quantitative_distribution_out_q4 = quantitative_distribution(child.copy(), 100)
impute_height_quant_out_q4 = impute_height_quant(child.copy())

In [373]:
grader.check("q4")

q4 results: All test cases passed!

## Question 5 ‚Äì The Rules of Web Scraping üöî

In Lecture 14, we will start studying web scraping. This question will give you an introduction to the rules behind it.

Many sites have a published policy allowing or disallowing automatic access to their site. Often, this policy is in a text file named `robots.txt`. [Here is a good article](https://moz.com/learn/seo/robotstxt) that explains what these files are, where to find them, and how to use them. **After reading the article**, please answer the following questions.

<br>

### Multiple-Choice Questions

**1. What is the purpose of `robots.txt`?**

1. To informs agents which pages to crawl.

2. To informs agents that the site is automated.

3. To inform agents that robots will chase them down if their info is stolen.


**2. Where do you put your `robots.txt` file?**

1. In the folder you want to disallow.

2. In the root directory of your website.

3. In a Google search.

**3. Is it illegal to scrape a site if there is no `robots.txt` present?** (***Hint:*** [Read this](https://medium.com/@tjwaterman99/web-scraping-is-now-legal-6bf0e5730a78) if you're not sure. If you aren't able to access the article because Medium says "You've read all your free member-only stories...", try opening the article in a new incognito or private browsing window üòÖ.)

1. Yes.

2. No.

**4. Can each subdomain on a root domain use separate `robots.txt` files?**

1. Yes.

2. No.


<br>


### Website Hunt

Next, **find three websites that explicitly use a `robots.txt` file and allow scraping by everyone, and three that do not allow scraping by generic user-agents**.

When browsing through `robots.txt` files, you may notice that some have entries for several different user-agents. The user-agent you are interested in for this question is the generic user-agent, which is denoted by `*`. A `/` after a `Disallow:` indicates that no scraping is allowed, whereas nothing after the `Disallow:` indicates that all scraping is allowed.

***Notes:***
- During your search, you may notice that very few websites allow scraping by everyone. When trying to find websites that satisfy this criteria, you are encouraged to think contextually about what kinds of websites would and wouldn't mind you scraping their data. Would a government website likely mind scraping by everyone? How about a website someone created just for fun?

- Some websites may cause Gradescope to time out. Please change a website if you encounter this issue. 

- Below, you are asked to store the URLs of the websites you find in a list. When storing URLs, you can add `'/robots.txt'` to the end, but you don't have to ‚Äì either format will be accepted.

<br>


#### `answers`

Create an argument-free function `answers` that returns **two lists**:

* one containing your answers to the multiple-choice questions, and
* one containing the URLs of the sites you found. The first 3 URLs in the list should be of websites that allow scraping by everyone, and the last 3 URLs in the list should be of websits that disallow scraping by generic user-agents.

In [374]:
# don't change this cell, but do run it -- it is needed for the tests to work
mc_answers, websites = answers()

In [375]:
grader.check("q5")

q5 results: All test cases passed!

## Congratulations! You're done! üèÅ

Submit your `lab.py` file to Gradescope. Note that you only need to submit the `lab.py` file; this notebook should not be uploaded.

Before submitting, you should ensure that all of your work is in the `lab.py` file. You can do this by running the doctests below, which will verify that your work passes the public tests **and** that your work is in the `lab.py` file. Run the cell below; you should see no output.

In [376]:
!python -m doctest lab.py

In addition, `grader.check_all()` will verify that your work passes the public tests.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [377]:
grader.check_all()

q1 results: All test cases passed!

q2 results: All test cases passed!

q3 results: All test cases passed!

q4 results: All test cases passed!

q5 results: All test cases passed!